
.topnavul{
	margin: 9px 0px 0px 50px;
}
.callnowtext{
   
    top:0px;
}
.callnowtext h3{
	font-size:40px;
	font-family: 
	letter-spacing: 1.2px;
	color: #000;
}
.callnowtext h4{
	font-size:24px;
	font-family: AnticDidone;
	font-weight:500;
	color:brown;
}
.callnowtext h5{
	font-size:43px;
	font-family: Segan-Light;
	font-weight: 500;
	color:#789339;
}
.getafreequotebtn {
	background-color: #0d0d0d;
	border:0px solid rgba(207,207,207,1);
	cursor: pointer;
	border:none;
	margin: 43px 0px;
	color:#789339;
	padding:15px 32px;
	text-align:center;
	text-decoration: none;
	display::inline-block;
	font-size: 16px;
	font-family:Segan-Light;
	outline:none;
}
.getafreequotebtn:hover{
	background-color: #fff;
    color:#ffa500;

}
.servicescolumns{
	background-color:#789339;
	padding-top:5%;
	padding-bottom: 5%;
}
.servicescolumns h3{
	font-size: 38px;
	font-family: AnticDidone;
	letter-spacing: 1px;
	color:#0d0d0d;
	font-weight: 500;
	text-align:center;
}
.serviceiconcolunms h3{
	font-size: 24px;
	font-family: Lato-Thin;
	text-align:center;
	color:#fff;
}
.homeicontext{
	text-align:center;
	
}
.serviceiconcolunms p{
	font-size:16px;
	font-family:Segan-Light;
	color:#0d0d0d;
	text-align: justify;
}
.readmorebtn{
	background-color: #0d0d0d;
	color:#789339;
	cursor:pointer !important;
	border::none;
	padding:5px 13px;
	text-decoration: none;
	display:inline-block;
	font-size:19px;
	outline:none;
	font-family:Segan-Light;
	text-align:center;
	border:1px solid #0d0d0d;
	-webkit-transition:background-color 0.5s ease-in-out;
	-moz-transition:background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
	-webkit-transition: box-shadow 0.5s ease-in-out;
	-moz-transition:box-shadow 0.5s ease-in-out;
	transition:box-shadow 0.5s ease-in-out;
}
.readmorebtn:hover{
	background-color: #0d0d0d;
	color:#ffa500;
	box-shadow:0px 0px 8px 2px #666666;
}
#iconimage{
	font-size: 70px;
	color:#ffa500;
}
video{
    background-position: cover;
    transition: :1s opacity;
    width:100%;
    height:initial;
}
.whoweareimage{
	background-image:url('../images/wood1.jpg'); 
	background-position:center;
	background-attachment:fixed;
	background-repeat: no-repeat;
	height:430px;
}
.whoweare h3{
	font-size: 38px;
	font-family: AnticDidone;
	letter-spacing: 1px;
	color:#0d0d0d;
	font-weight: 500;
	text-align:center;
}
.whoweare p{
	font-size:18px;
	font-family:Segan-Light;
	color:#fff;
}
.whoweare{
	padding-top:7%;
	padding-bottom:5%;
}
.happycustomers h3{
	font-size: 38px;
	font-family: AnticDidone-Regular;
	letter-spacing: 1px;
	color:#0d0d0d;
	font-weight: 500;
	text-align:center;
}
.happycustomers{
	padding-top:5%;
	padding-bottom: 5%;
}
.color{
	text-align:right !important;
	color:#789339;
}
.doublequote {
	font-size:61px;
	top:-0.0em;
	color:#789339;
	font-style:italic;
}
.paratext{
	font-size:16px;
	font-family:Segan-Light;
	color:#999;
}
.contactcolunms{
	background:#789339;
	padding-top:5%;
	padding-bottom: 5%;
}
.contactcolunms h3{
	font-size: 38px;
	font-family: AnticDidone;
	letter-spacing: 1px;
	color:#0d0d0d;
	font-weight: 500;
	text-align:center;
}
.aboutus h4{
	font-size: 21px;
	color:#fff;
	font-weight: 500;
	font-family:Lato-Thin;
	-webkit-transition: border-bottom 0.1s ease-in-out;
	transition: border-bottom 0.1s ease-in-out;
}
.aboutus h4:hover{
	border-bottom: 3px solid #0d0d0d;
}
.aboutus p{
	font-size:15px;
	color: #404040;
	font-family: Segan-Light;
	-webkit-transition: all 0.2s ease;
    -moz-transition:all 0.2s ease;
    transition: all 0.2s ease;
}
.aboutus p:hover{
	color:#ffa500;;
}
/*.iconsbtn{
	background-color: #ffffff;
	width:46px;
	height:50px;
	margin:1px 3px auto;
	color:#000;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition: all 0.3s ease;
	display:inline-block;
	padding:14px 0px;
	border-radius:100%;
	overflow:visible;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
}
.iconsbtn:hover{
	background-color: #0d0d0d;
	color:#005ce6;
}
.iconsbtn1{
	background-color: #ffffff;
	width:46px;
	height:50px;
	margin:1px 3px auto;
	color:#000;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition: all 0.3s ease;
	display:inline-block;
	padding:14px 0px;
	border-radius:100%;
	overflow:visible;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
}
.iconsbtn1:hover{
	background-color: #0d0d0d;
	color:#00b8e6;
}
.iconsbtn2{
	background-color: #ffffff;
	width:46px;
	height:50px;
	margin:1px 3px auto;
	color:#000;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition: all 0.3s ease;
	display:inline-block;
	padding:14px 0px;
	border-radius:100%;
	overflow:visible;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
}
.iconsbtn2:hover{
	background-color: #0d0d0d;
	color:#ff3333;
}
#iconfollow{
	font-size:26px;
}
*/
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: white;
}
.colnull{
	margin-right: -9px;
}
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
.getfreeformbtn{
	background-color: #0d0d0d;
	color:#789339;
	border:0px solid rgba(207,207,207,1);
	cursor: pointer;
	border:none;
	padding:7px 14px;
	text-align:center;
	text-decoration: none;
	display::inline-block;
	font-size: 16px;
	font-family:Segan-Light;
	outline:none;
	-webkit-transition:background-color 0.5s ease-in-out;
	-moz-transition:background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
.getfreeformbtn:hover{
	background-color: #2d8659;
	color:#ffa500;
}
.getfreequotecolunms h4{
	font-size:24px;
	font-family:Lato-Thin;
	color:#ffa500;
	letter-spacing: 2px;
	text-align:center;
}
.formdown{
	border-radius: 0px;
	margin-bottom: 7px;
	box-shadow: inset 0px 0px 2px 1px #ddd;
}
.footercopyright{
	padding-top:2%;
	padding-bottom:1%;
}
.footercopyright p{
	font-size: 15px;
	font-family: Segan-Light;
	color:#789339;
}
@font-face {
  font-family: 'AnticDidoner';
  src: url('../fonts/AnticDidone-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-ThinItalic';

  src: url('../fonts/Lato-ThinItalic.eot');
  src: url('../fonts/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-ThinItalic.ttf') format('truetype'), url('../fonts/Lato-ThinItalic.svg#Lato-ThinItalic') format('svg');
}
@font-face {
  font-family: 'Lato-Thin';

  src: url('../fonts/Lato-Thin.eot');
  src: url('../fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'),url('../fonts/Lato-Thin.ttf') format('truetype'), url('../fonts/Lato-Thin.svg#Lato-Thin') format('svg');
}
@font-face {
  font-family: 'Segan-Light.ttf';

  src: url('../fonts/Segan-Light.eot');
  src: url('../fonts/Segan-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Segan-Light.woff2') format('woff2'), url('../fonts/Segan-Light.woff') format('woff'), url('../fonts/Segan-Light.ttf') format('truetype'), url('../fonts/Segan-Light.svg#Segan-Light') format('svg');
}

video{
	background-position: cover;
	transition: 1s opacity;
	width:100%;
	height:initial;
}


@media only screen and (max-width: 480px) {
	.dashboard-invest{
		margin-top:14%;
	}
	.callnowtext{
		top:100px;
		left:18px !important;
	}
	.callnowtext h3{
		font-size:22px;
		color:#fff;
	}
	.callnowtext h4{
		font-size:18px;
	}
	.callnowtext h5{
		font-size:16px;
	}
	.getafreequotebtn{
        margin:15px 0px;
        padding:4px 25px;
        background-color:brown;
        color:#fff;
	}
}
s