<div class="container">
	<div class="row">
		<h2 align="center">Bau - The Support Wheel of Fate</h2>
		<hr>
	</div>
	<div class="row">
		<button type="button" class="btn btn-primary" ng-click="show_shift()">Show Today's Shifts</button>
	</div>
	<br><br>
	
	<!-- Table for today's shifts -->
	<div class="table-responsive">
	<h4>Today's Shifts</h4>
	  <table class="table table-bordered">
	    	<thead>
	    		<tr><td>Shift</td><td>Engineer Id</td><td>Engineer Name</td></tr>
	    	</thead>
	    	<tbody>
	    		<tr ng-repeat="(shift,engineer) in todays_shift.shift">
	    			<td> {{ shift }} </td>
	    			<td> {{ engineer._id }} </td>
	    			<td> {{ engineer.name }} </td>
	    		</tr>
	    	</tbody>
	  </table>
	</div>

</div>